* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-image: linear-gradient(to right, black, rgb(43, 43, 43));
    color: white;
}
header {
    padding: 20px;
}
header > h1 {
    text-align: center;
    font-weight: bolder;
    padding: 20px;
    font-size: 3.3em;
    font-family: serif;
}
nav {
    text-align: center;
}
nav > ul > li {
    list-style-type: none;
    display: inline;
    padding: 10px;
    font-size: 1.3em;
}
nav > ul > li > a {
    text-decoration: none;
    color: white;
}
nav > ul > li > a:hover {
    font-weight: bolder;
    color: rgb(167, 167, 167);
    transition-duration: .2s;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 20px;
}
main {
    width: 70%;
    margin: auto;
}
main p {
    text-indent: 1em;
    text-align: justify;
    font-size: 1.2em;
}
main section {
    padding-top: 20px;
}
main h2 {
    text-align: center;
    padding: 10px;
}
#container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.row {
    padding-top: 15px;
}
.img-grid {
    width: 150px;
}
#carouselExampleAutoplaying {
    width: 720px;
    margin: auto;
    padding: 20px;
    box-shadow: 2px 2px 10px black;
    border-radius: 10px;
}
.countdown-container {

    padding: 20px;
    border-radius: 8px;
}
#countdown {
    text-align: center;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}
#countdown div {
    margin: 0 15px;
}
#countdown span {
    font-weight: bold;
    font-size: 40px;
    color: #0dc41c;
}
#staff td {
    font-size: 1.4em;
}
/* Estilo básico para o botão */
#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 40px;
    display: none; /* Inicialmente escondido */
}

/* Efeito de hover */
#backToTop:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding-top: 100px;
    margin: 0px;

}